html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    background: url("img/lamoto.jpg") no-repeat fixed #222;
    background-size: cover;
    color: #ddd;
}

#agregar-nota {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    margin: 2rem;
    padding: 2rem;
    border-radius: 5px;

    background: #ddd;
    color: #222;
}

#lista-notas {

    width: 40vw;
    margin: 0;
    padding: 15px;
    border-radius: 5px;

    background: #050404;
}

.nota input:checked~* {
    text-decoration: line-through;
}

.nota p,
.nota h1 {
    display: inline;
    margin: 0;
}
